<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Eventbrote{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{ include('layouts/partials/_nav.html.twig') }}
        
        <main role="main">
            <div class="container mt-5">
                {{ include('layouts/partials/_flash_messages.html.twig') }}

                {% block body %}{% endblock %}
            </div>
        </main>
        
        {{ include('layouts/partials/_footer.html.twig') }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
